name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 54.247.226.78 >> ~/.ssh/known_hosts

      - name: Deploy using Ansible
        run: |
          ssh ubuntu@54.247.226.78 << 'EOF'
            cd /home/ubuntu/devops-cloud-automation
            git pull origin main
            ansible-playbook -i ansible/inventory ansible/nginx-playbook.yml
          EOF
