name: Docker Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 54.247.226.78 >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ubuntu@54.247.226.78<< 'EOF'
          cd app/app
          git pull origin main

          docker stop myweb || true
          docker rm myweb || true

          docker ps -q --filter "publish=80" | xargs -r docker stop
          docker ps -aq --filter "publish=80" | xargs -r docker rm

          docker build -t anusha-web .
          docker run -d -p 80:80 --name myweb anusha-web
          EOF
